<html>
<head>
	<script src="d3.min.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="grid.css">
</head>
<body>
	<div class="flex_column">
		<div id="control_container">
			<select id="matches">
				{% for match in matches %}
				  <option value="{{match}}" {% if match == selected_match %}selected{% endif %}>{{match}}</option>
				{% endfor %}
			</select>
			<input type="number" id="start_time" value="{{selected_timepoint}}" min="{{min_time}}" max="{{max_time}}" />
			<input type="number" id="offset" value="0" />
		</div>
		<div id="svg_container">
		</div>
	</div>

	<script>
		baseurl 	  = "http://localhost/";
		canvas_width  = document.getElementById("svg_container").clientWidth;
		canvas_height = document.getElementById("svg_container").clientHeight;
	</script>

	<script src="grid.js" type="text/javascript"></script>
	<script src="players.js" type="text/javascript"></script>

	<script src="danger.js" type="text/javascript"></script>
	<script src="dangergraph.js" type="text/javascript"></script>

	<script src="distance.js" type="text/javascript"></script>
	<script src="distancegraph.js" type="text/javascript"></script>

	<script>
		// Event handlers
		var match_el 		= document.getElementById('matches'),
			start_time_el 	= document.getElementById('start_time'),
			offset_el		= document.getElementById('offset');

		onMatchChanged();

        d3.select("#start_time").on("change", getPlayerPositions);	
        d3.select("#offset").on("change", getPlayerPositions);	
		d3.select("#matches").on("change", onMatchChanged);

        function onMatchChanged(){ 
			var selected_match = parseInt(match_el.options[match_el.selectedIndex].value);

			d3.json(baseurl + "timepoints/" + selected_match, function (json) {
				start_time_el.value = d3.min(json);
				start_time_el.min   = d3.min(json);
				start_time_el.max   = d3.max(json);

				getPlayerPositions();
	        });

	        d3.json(baseurl + "distances/" + selected_match, function (json) {
				drawDistanceGraph(json);
	        });
        }

        // Populate views
		var all_players;
		var red_team = [];
		var blue_team = [];
		var poi_player = [];

        function getPlayerPositions() { 
			var selected_match 				= parseInt(match_el.options[match_el.selectedIndex].value);
			var selected_start_time 		= parseInt(start_time_el.value);
			var selected_offset				= parseInt(offset_el.value);
			
			d3.json(baseurl + "locations/" + selected_match + "/" + selected_start_time + "/" + (selected_start_time+selected_offset), function (json) {
				tiles = [];
				all_players = [];
				red_team = [];
				blue_team = [];
				json.forEach(function(player) {
					if (player.tsync == selected_start_time) { /* Only select current timestamp */
						all_players.push(player);
						if(player.team == "dire") {
							if (!(include(red_team,player))) {
								red_team.push(player);
							}
						} else {
							if (!(include(blue_team,player))) {
								blue_team.push(player);
							}
						}
					}
					tiles.push(new Tile(player.x, player.y, player.team, player.player, player.tsync == selected_start_time))
				});
				findPOI(25, 2); /* players and teams are global, range 10, more then 3 players */
				updateGrid(tiles);
	        });
		}

	</script>
</body>
</html>